
body {
    margin: 0;
    padding: 0;
    background-image: url("../../../public/image/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

* {
    font-family: cursive;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
    font-weight: bold;
}

ul {
    padding-inline-start: 0;
}

input[type=submit]:hover, ul>li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

li {
    list-style-type: none;
    display: inline-block;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 100px;
    text-align: center;
    background-color: rgba(80, 90, 200, 0.5);
}

nav {
    background: rgba(80, 90, 200, 0.5); 
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
}

nav > ul {
    text-align: center;
    margin: 0 5px;
    color: white;
}

img {
    width: 35px;
    height: 35px;
    margin-top: 25px;
}

h2 {
    font-size: 50px;
    margin: 0;
}

label {
    color: gray;
    font-size: 25px;
}

section {
    text-align: center;
    margin-top: 5px;
    position: relative;
    padding-bottom: 6px;
}

form {
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    width: 200px;
    border: 2px solid lightsteelblue;
    padding: 5px;
}

.added-toys-in-market {
    display: flex;
    color: white;
    cursor: pointer;
    width: 380px;
    border: 1px solid white;
    text-align: center;
    background: rgba(80, 90, 200, 0.4);
    padding-bottom: 15px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 30px;
    height: 200px;
}

.picture-added-excursions {
    width: 250px;
    height: 160px;
    border-radius: 10px;
}

.picture-added-excursions:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.added-excursions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
}

.excursion-details {
    margin-top: 70px;
    margin-left: 20px;
}

.loading {
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    background-color: rgba(80, 90, 200, 0.8);
    padding: 40px;
    width: 30%;
    font-size: 30px;
    border: 2px solid white;
}









