.introduction {
    height: 70vh;
    text-align: left;
    width: 62%;
    margin-top: 10%;
    margin-left: 10%;
}

.introduction h1 {
    color: black;
    letter-spacing: 5px;
    font-size: 50px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color:  rgba(80, 90, 200, 0.4);
}

.introduction p {
    color: black;
    font-size:25px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    background-color:  rgba(80, 90, 200, 0.4);
    margin-left: 90px;
    margin-right: -130px;
}

