.added-toys-in-market {
    color: white;
    cursor: pointer;
    width: 400px;
    border: 1px solid white;
    text-align: center;
    /* background: rgba(211, 28, 28, 0.677); */
    background: rgba(80, 90, 200, 0.677);
    padding-bottom: 25px;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 250px;
}

.picture-added-toys {
    width: 210px;
    height: 160px;
    /* border-radius: 50%; */
    border-radius: 10px;
}

.picture-added-toys:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.added-toys {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h3 {
    font-size: 22px;
    margin-bottom: 0;
}

.guest {
    text-align: center;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    color: white;
    background-color: rgba(80, 90, 200, 0.8);
    padding: 40px;
    width: 30%;
    font-size: 30px;
    border: 2px solid white;
}