#createPage {
  position: relative;
  padding-bottom: 6px;
  margin-top: 1px;
  text-align: center;
}

#createForm {
  padding-top: 1%;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 4%;
  background: rgba(80, 90, 200, 0.7);
  width: 30%;
  border: 1px solid white;
  border-radius: 10px;
}

#createForm label {
  color: black;
  font-weight: bold;
}

#createForm input {
  background: white;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
}

#createForm .submitButton:hover {
  transform: scale(1);
  cursor: auto;
}

#createForm .create-error {
  color: orangered;
  font-size: 15px;
  margin: 1px;
}

#createForm input[type="submit"] {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 40%;
  font-size: 20px;
}
